

button#sendAjaxButton Загрузить
script.
    function sendAjax(url) {
        return new Promise((resolve, reject) => {
            let xhr = new XMLHttpRequest();

            xhr.open('GET', url);
            xhr.addEventListener('load', () => {
                resolve(xhr.responseText);
            });
            xhr.addEventListener('error', () => {
                reject();
            });
            xhr.send();
        });
    }
    sendAjaxButton.addEventListener('click', () => {
        sendAjax('./test.pug').then(responseText => {
            $('div').text(responseText);
        });

    });
